<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x)=y$)

```python
def function_name(input_x):
    # do something with input_x to get output_y
    return output_y
```

$f_1(x) = x^2 + 75$

In [1]:
def function_f1(x):
    a = x**2  # ยกกำลังของ python โดยใช้ **
    y = a + 75
    return y

print('done!')

done!

In [2]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชั่นชื่ออะไร `def function_name():` (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input *Input* (ขาดได้)
3. ส่วนประมวลผล do something with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output `return` (ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [3]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

### ตัวอย่าง function ที่ไม่มี input

In [4]:
def pi_v():
    y = 3.14159265359
    return y

In [5]:
piv = pi_v()
circle_area_r2 = pi_v()*(2**2)
print(circle_area_r2)

12.56637061436

### ตัวอย่าง function ไม่มี process ไม่ได้

In [6]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [7]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [8]:
print_name_id('มินตรา','623020041-2')

ชื่อ มินตรา รหัสประจำตัว 623020041-2

In [9]:
a = print_name_id('มินตรา','623020041-2')

ชื่อ มินตรา รหัสประจำตัว 623020041-2

In [10]:
a

### ตัวอย่าง function `print`

https://www.programiz.com/python-programming/methods/built-in/print

In [11]:
print('มินตรา')
print('623020041-2')

มินตรา
623020041-2

In [12]:
print('มินตรา',end='->')
print('623020041-2')

มินตรา->623020041-2

In [13]:
print('มินตรา','623020041-2')  # เว้นวรรคให้

มินตรา 623020041-2

In [14]:
print('มินตรา','623020041-2',sep=' & ')  # กำหนดตัวขั้นคำ

มินตรา & 623020041-2

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [15]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [16]:
print_grade('มินตรา','623020041-2')  # ถ้าไม่ใส่ค่าที่ 3 มันจะใส่ค่า default มาให้

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด F

In [17]:
print_grade('มินตรา','623020041-2','A')  # ใส่ค่าที่ 3

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด A

In [18]:
print_grade(name='มินตรา',id='623020041-2',grade='B+')  # ใส่ตามรูปแบบที่กำหนด

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด B+

# Looping (for)

```python
for member in listEx:
    do something()
```

In [19]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [20]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [21]:
for name in ['วัชราภรณ์','จุฑากาญจน์','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [22]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [23]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('------------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
------------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
------------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
------------------

### ใช้ for loop เพิ่มสมาชิกใน list

In [24]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [25]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

### การวนลูปด้วย `range()`

In [26]:
for i in range(100):  # print วน 100 รอบ
    print('งง', end=' ')

งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง งง

### Loop ซ้อน Loop

In [27]:
# ให้วนลูปเป็นแม่สูตรคูณ
for mem1 in range(2,5):  # [2,3,4]
    print(f'now mem1 = {mem1}')
    for mem2 in range(1,13):  # [1,2,3,4,5,6,7,8,9,10,11,12]
        print(f'{mem1} x {mem2} = {mem1*mem2}')
    print(f'end inner for mem1 = {mem1}')

now mem1 = 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
end inner for mem1 = 2
now mem1 = 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
3 x 11 = 33
3 x 12 = 36
end inner for mem1 = 3
now mem1 = 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
4 x 11 = 44
4 x 12 = 48
end inner for mem1 = 4

### Loop in Function

In [28]:
def print_grade_loop(names,grades):
    for n,g in zip(names,grades):
        print(f'{n} ได้เกรด {g}')

In [29]:
print_grade_loop(list_name,list_grade)

นางสาวเบญญาภา ระภูเขียว ได้เกรด B
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด C

# Conditional Statement (if)

```python
if condition1:
    do_something()  # ถ้า condition1 เป็นจริง ทำ do_something()
elif condition2:
    do_another_thing()  # ถ้า condition1 ไม่เป็นจริงแต่ ทำ condition2 เป็นจริง ทำ do_another_thing()
else:
    do_the_last_thing()  # ถ้าไม่มี condition ไหนเป็นจริง ทำ do_the_last_thing()
```

In [30]:
for n in list_name:
    if len(n)>20:
        print(f'{n} ได้เกรด A')
    else:
        print(f'{n} ได้เกรด F')

นางสาวเบญญาภา ระภูเขียว ได้เกรด A
นางสาวทักษิณา ราชหุ่น ได้เกรด A
นางสาวปลายฟ้า คำเพ็ง ได้เกรด F

### operation ที่ใช้ตรวจสอบ condition

== , != , >= , <= , < , > , and , or

In [31]:
a = 10 == 20
a

False

In [32]:
b = 15 <= 20
b

True

In [33]:
if a:
    print('x')

In [34]:
if True:
    print('x')

x

In [35]:
if a and b:
    print('x')

In [36]:
if a or b:
    print('x')

x

# HW4

เขียน function ตัดเกรด โดยที่ input เป็นคะแนน(0-100) , output เป็นเกรด (F-A) หรือ 'ไม่สามารถตัดเกรดได้'

วนลูปตัดเกรด input = [1,50,65,90,101,-5,49,'ก',80]

กำหนด
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ  0 แต่น้อยกว่า 50 จะได้เกรด F
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 50 แต่น้อยกว่า 55 จะได้เกรด D
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 55 แต่น้อยกว่า 60 จะได้เกรด D+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 60 แต่น้อยกว่า 65 จะได้เกรด C
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 65 แต่น้อยกว่า 70 จะได้เกรด C+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 70 แต่น้อยกว่า 75 จะได้เกรด B
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 75 แต่น้อยกว่า 80 จะได้เกรด B+
* ถ้าคะแนนอยู่ระหว่างมากกว่าหรือเท่ากับ 80 จะได้เกรด A
* ถ้าคะแนนไม่อยู่ในช่วง 0-100 ให้ return 'ไม่สามารถตัดเกรดได้'

In [37]:
score_hw = [1,50,65,90,101,-5,49,'ก',80]

for n in score_hw:
    if type(n) == type(''):
        print(f'คะแนน {n} ไม่สามารถตัดเกรดได้')
    else:
        if n >= 80:
            print(f'คะแนน {n} ได้เกรด A')
        elif n >= 75:
            print(f'คะแนน {n} ได้เกรด B+')
        elif n >= 70:
           print(f'คะแนน {n} ได้เกรด B')
        elif n >= 65:
            print(f'คะแนน {n} ได้เกรด C+')
        elif n >= 60:
            print(f'คะแนน {n} ได้เกรด C')
        elif n >= 55:
            print(f'คะแนน {n} ได้เกรด D+')
        elif n >= 50:
            print(f'คะแนน {n} ได้เกรด D')
        elif n >= 0:
            print(f'คะแนน {n} ได้เกรด F')
        else:
            print(f'คะแนน {n} ไม่สามารถตัดเกรดได้')
    print('=========================')

คะแนน 1 ได้เกรด F
=========================
คะแนน 50 ได้เกรด D
=========================
คะแนน 65 ได้เกรด C+
=========================
คะแนน 90 ได้เกรด A
=========================
คะแนน 101 ได้เกรด A
=========================
คะแนน -5 ไม่สามารถตัดเกรดได้
=========================
คะแนน 49 ได้เกรด F
=========================
คะแนน ก ไม่สามารถตัดเกรดได้
=========================
คะแนน 80 ได้เกรด A
=========================