<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/data_viz_2022/blob/main/Basic_Programming_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions ($f(x)=y$)

```python
def function_name(input_x):
    # do something with input_x to get output_y
    return output_y
```

$f_1(x) = x^2 + 75$

In [2]:
def function_f1(x):
    a = x**2  # ยกกำลังของ python โดยใช้ **
    y = a + 75
    return y

print('done!')

done!

In [3]:
function_f1(3)

84

function มีส่วนสำคัญทั้งหมด 4 ส่วน
1. บอก python ว่าเราจะเขียนฟังก์ชั่นชื่ออะไร `def function_name():` (ขาดไม่ได้)
2. กำหนดตัวแปรที่จะเป็น input *Input* (ขาดได้)
3. ส่วนประมวลผล do something with *Input* to get *Output* (ขาดไม่ได้)
4. ส่วน output `return` (ขาดได้)

### ตัวอย่าง function ที่มีส่วนประกอบครบ

In [4]:
def function_f1(x):
    a = x**2
    y = a + 75
    return y

### ตัวอย่าง function ที่ไม่มี input

In [5]:
def pi_v():
    y = 3.14159265359
    return y

In [6]:
piv = pi_v()
circle_area_r2 = pi_v()*(2**2)
print(circle_area_r2)

12.56637061436

### ตัวอย่าง function ไม่มี process ไม่ได้

In [7]:
def function_a():

SyntaxError: ignored

### ตัวอย่าง function ที่ไม่มี output

In [8]:
def print_name_id(name,id):
    print(f'ชื่อ {name} รหัสประจำตัว {id}')

In [9]:
print_name_id('มินตรา','623020041-2')

ชื่อ มินตรา รหัสประจำตัว 623020041-2

In [10]:
a = print_name_id('มินตรา','623020041-2')

ชื่อ มินตรา รหัสประจำตัว 623020041-2

In [11]:
a

### ตัวอย่าง function `print`

https://www.programiz.com/python-programming/methods/built-in/print

In [12]:
print('มินตรา')
print('623020041-2')

มินตรา
623020041-2

In [13]:
print('มินตรา',end='->')
print('623020041-2')

มินตรา->623020041-2

In [14]:
print('มินตรา','623020041-2')  # เว้นวรรคให้

มินตรา 623020041-2

In [15]:
print('มินตรา','623020041-2',sep=' & ')  # กำหนดตัวขั้นคำ

มินตรา & 623020041-2

## input ของ function แบ่งเป็น 2 ชนิด (จำเป็นต้องใส่ กับ ไม่จำเป็นต้องใส่)

ตัวอย่าง function `print_grade()` มี input 3 ตัว จำเป็นต้องใส่ 2 ตัว คือ name กับ id และไม่จำเป็นต้องใส่ 1 ตัว คือเกรด ซึ่งมีค่า default เป็น F

In [16]:
def print_grade(name,id,grade = 'F'):
    print(f'รหัสประจำตัว {id} ชื่อ {name}')
    print(f'ได้เกรด {grade}')

In [17]:
print_grade('มินตรา','623020041-2')  # ถ้าไม่ใส่ค่าที่ 3 มันจะใส่ค่า default มาให้

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด F

In [18]:
print_grade('มินตรา','623020041-2','A')  # ใส่ค่าที่ 3

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด A

In [19]:
print_grade(name='มินตรา',id='623020041-2',grade='B+')  # ใส่ตามรูปแบบที่กำหนด

รหัสประจำตัว 623020041-2 ชื่อ มินตรา
ได้เกรด B+

# Looping (for)

```python
for member in listEx:
    do something()
```

In [20]:
for member in [1,2,3,4,5,6]:
    print(member)

1
2
3
4
5
6

In [21]:
def print_name(name):
    print(f'ฉันชื่อ {name}')

In [23]:
for name in ['วัชราภรณ์','จุฑากาญจน์','ชลธิชา','ญาดา','กิตติคุณ']:
    N = name
    print_name(N)

ฉันชื่อ วัชราภรณ์
ฉันชื่อ จุฑากาญจน์
ฉันชื่อ ชลธิชา
ฉันชื่อ ญาดา
ฉันชื่อ กิตติคุณ

In [25]:
list_name_id_grade = [['นางสาวเบญญาภา ระภูเขียว','623020527-6','B'],
                      ['นางสาวทักษิณา ราชหุ่น','623021000-1','A'],
                      ['นางสาวปลายฟ้า คำเพ็ง','623021005-1','C']]

In [27]:
for each in list_name_id_grade:
    name = each[0]
    id = each[1]
    grade = each[2]
    print_grade(name,id,grade)
    print('------------------')

รหัสประจำตัว 623020527-6 ชื่อ นางสาวเบญญาภา ระภูเขียว
ได้เกรด B
------------------
รหัสประจำตัว 623021000-1 ชื่อ นางสาวทักษิณา ราชหุ่น
ได้เกรด A
------------------
รหัสประจำตัว 623021005-1 ชื่อ นางสาวปลายฟ้า คำเพ็ง
ได้เกรด C
------------------

### ใช้ for loop เพิ่มสมาชิกใน list

In [28]:
list_name = []
list_id = []
list_grade = []
for each in list_name_id_grade:
    list_name.append(each[0])
    list_id.append(each[1])
    list_grade.append(each[2])

In [29]:
list_name

['นางสาวเบญญาภา ระภูเขียว', 'นางสาวทักษิณา ราชหุ่น', 'นางสาวปลายฟ้า คำเพ็ง']

# Conditional Statement (if)