<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/data_viz_2022/blob/main/Final_Group_Alphabetical.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam

รายชื่อกลุ่ม Alphabetical
1. นางสาวมินตรา ทิพยรัตน์สุนทร  รหัสนักศึกษา 623020041-2
2. นายศิริวัฒน์ ภูลำสัตย์  รหัสนักศึกษา 623020765-0
3. นางสาวนริศรา ชัยฤทธิ์  รหัสนักศึกษา 623021001-9

ให้นักศึกษาสร้าง Dashboard แสดงรายงานเกี่ยวกับข้อมูลการตรวจโรค(ov) จาก ไฟล์ alldb.csv และ hospital_list.xlsx

( ดาวน์โหลดจาก https://drive.google.com/drive/folders/1D_Z0fjTki6U6ECbgh2V3wBOSdOXS81YT?usp=sharing )

โดยข้อมูลหลักจะอยู่ใน ตาราง alldb.csv (ข้อมูลที่สมบูรณ์ที่สามารถนำมาใช้งานได้ต้องมีค่าใน column ต่อไปนี้ดังนี้
*  user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
*  RowKey เป็น String
*  date เป็น YYYY-MM-DD
*  phone เป็น String
*  site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)
*  time เป็น hh-mm-ss
*  urine มีค่า String
*  ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4  คือพบโรคที่ระดับความรุนแรงต่างๆ)
*  PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น) 

ไฟล์ alldb.csv และ hospital_list.xlsx สามารถถูกเชื่อมโยงกันโดย site ในไฟล์ alldb.csv คือ hcode ในไฟล์ hospital_list.xlsx
โดยข้อมูลสำคัญที่ต้องแสดงคือ

*  จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)
*  ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)
*  อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ))

(คิดคะแนนตามกลุ่ม final โดยไฟล์ที่ทุกคนในกลุ่มต้องมีคือไฟล์ data pre-processing และ link ไปที่ Dashboard ที่สร้่างโดยเปิดให้สามารถเข้าไปดูและใช้งานได้)

ส่งไม่เกิน 23.59 วันจันทร์ที่ 11 เมษายน 2565

# import packages ที่ต้องใช้ และนำไฟล์เข้ามาใน colab

In [1]:
import pandas as pd  # import package เข้ามา
import os  # ใช้จัดการไฟล์ต่างๆ

In [2]:
from google.colab import drive  # เชื่อม google drive เพื่อเอาข้อมูลมาใช้
drive.mount('/content/drive')  
path = '/content/drive/My Drive/ovrdt data'  # ชี้โฟลเดอร์ใน google drive

Mounted at /content/drive

## ข้อมูลที่ 1 alldb

In [3]:
alldb = pd.read_csv(os.path.join(path,'alldb.csv'))
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [4]:
# เลือกเฉพาะ column ที่ต้องการ
alldb_data = alldb[['user',	'RowKey', 'date', 'phone', 'site', 'time', 'urine', 'ov', 'PartitionKey']]
alldb_data

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

## ข้อมูลที่ 2 hospital_list

In [5]:
hospital_list = pd.read_excel(os.path.join(path,'hospital_list.xlsx'))
hospital_list

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [6]:
# เลือกเฉพาะ column ที่ต้องการ
hospital_data = hospital_list[['hcode',	'name', 'zone_name', 'province', 'amphur', 'tambon']]
hospital_data

,hcode,name,zone_name,province,amphur,tambon
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ
...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น

# เชื่อมตาราง

In [7]:
# เชื่อมตาราง alldb_data และ hospital_data เข้าด้วยกัน โดยให้ตาราง alldb_data เป็นตารางหลักอยู่ที่ด้านซ้าย
merge_table = alldb_data.merge(hospital_data,how='left',left_on='site',right_on='hcode')
merge_table

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_name,province,amphur,tambon
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,05310,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านนาจารย์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,เมืองกาฬสินธุ์,นาจารย์
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN,05087,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโนนรัง ตำบลโนนรัง,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เมืองร้อยเอ็ด,โนนรัง
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,05087,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโนนรัง ตำบลโนนรัง,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,เมืองร้อยเอ็ด,โนนรัง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ,01234,โรงพยาบาลส่งเสริมสุขภาพตำบลบางกระสั้น,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,บางปะอิน,บางกระสั้น
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ,01234,โรงพยาบาลส่งเสริมสุขภาพตำบลบางกระสั้น,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,บางปะอิน,บางกระสั้น
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,01234,โรงพยาบาลส่งเสริมสุขภาพตำบลบางกระสั้น,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,บางปะอิน,บางกระสั้น
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี,01234,โรงพยาบาลส่งเสริมสุขภาพตำบลบางกระสั้น,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,บางปะอิน,บางกระสั้น
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,01234,โรงพยาบาลส่งเสริมสุขภาพตำบลบางกระสั้น,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,บางปะอิน,บางกระสั้น

In [8]:
# ตรวจสอบค่า missing ของตาราง merge_table
merge_table.isnull().any()

user            True
RowKey          True
date            True
phone           True
site            True
time            True
urine           True
ov              True
PartitionKey    True
hcode           True
name            True
zone_name       True
province        True
amphur          True
tambon          True
dtype: bool

In [9]:
# ทำการลบข้อมูลที่เป็นค่า missing ออก
merge_table_drop = merge_table.dropna()
merge_table_drop

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,name,zone_name,province,amphur,tambon
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000,05194,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านหนองหว้า ตำบลกก...,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,หนองพอก,กกโพธิ์
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,สีชมพู,สีชมพู
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544,04312,โรงพยาบาลส่งเสริมสุขภาพตำบลสีชมพู,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,สีชมพู,สีชมพู
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000,04999,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเปลือย,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,บรบือ,หนองโก
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39791,76331,pvpiawlexb.png,2022-02-23,Samsung SM-G965U,05258,15:32:53,ปกติ (เหลืองใส),1,92,05258,โรงพยาบาลส่งเสริมสุขภาพตำบลหนองตาโฮม ตำบลขี้เหล็ก,สาขาพื้นที่(ขอนแก่น),ร้อยเอ็ด,อาจสามารถ,ขี้เหล็ก
39794,68317,rtutxrlbam.png,2022-02-23,Samsung SM-A115F,28017,14:31:01,ปกติ (เหลืองใส),2,976,28017,โรงพยาบาลนาคู,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,นาคู,นาคู
39795,68317,dmuragqwza.png,2022-02-23,Samsung SM-A115F,28017,14:30:21,ปกติ (เหลืองใส),2,983,28017,โรงพยาบาลนาคู,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,นาคู,นาคู
39798,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10:25:32,ปกติ (เหลืองใส),1,99444,11088,โรงพยาบาลห้วยผึ้ง,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ห้วยผึ้ง,นิคมห้วยผึ้ง
39799,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11:03:40,ปกติ (เหลืองใส),0,99771,05396,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านสูงเนิน,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,คำม่วง,เนินยาง

In [10]:
# ตรวจสอบค่า missing ของตาราง merge_table_drop
merge_table_drop.isnull().any()

user            False
RowKey          False
date            False
phone           False
site            False
time            False
urine           False
ov              False
PartitionKey    False
hcode           False
name            False
zone_name       False
province        False
amphur          False
tambon          False
dtype: bool

In [11]:
# จากการทำ dropna() ทำให้ข้อมูลหายไปกี่ % 
removed = merge_table.shape[0] - merge_table_drop.shape[0]

print(f'size before drop = {merge_table.shape[0]}')
print(f'size aftre drop = {merge_table_drop.shape[0]}')
print(f'we loss {100*(removed/merge_table.shape[0])}% of data')

size before drop = 40035
size aftre drop = 38275
we loss 4.3961533658049206% of data

# นำข้อมูลออกไปใช้งานต่อ

In [12]:
# merge_table_drop.to_csv(os.path.join(path,'final_data.csv'))