<a href="https://colab.research.google.com/github/mintra-tippayaratsontorn/data_viz_2022/blob/main/Intro0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Basic Programming for Data Science and Data Visualization

In [1]:
a = 1
b = 2
a + b

3

1 + 2

In [2]:
print('มินตรา ทิพยรัตน์สุนทร ID 623020041-2')

มินตรา ทิพยรัตน์สุนทร ID 623020041-2